<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Editor</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900' rel='stylesheet' type='text/css'>
        <link href='/css/style.css' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
    
        <h1 class="title">Document</h1>
        
        <div id="toolbar-wrapper">
        <div id="toolbar">
            <button class="textstyle icon-bold" data-nodetype="B" title="Bold"></button>
            <button class="textstyle icon-italic" data-nodetype="I" title="Italic"></button>
            <button class="textstyle icon-underline" data-nodetype="U" title="Underline"></button>

            <!--<button class="icon-strikethrough" data-nodetype="S" title="Strikethrough"></button>-->

            <button class="textstyle icon-link" data-nodetype="A" title="Link"></button>
            <button class="icon-reply" title="Undo"></button><!--undo-->
            <button class="icon-share-alt" title="Redo"></button><!--redo-->
            <button class="icon-th" title="Characters"></button><!--redo-->
            <span class="spacer"></span>
            
            <button class="insertable icon-camera-retro" data-type="image" data-icon="icon-camera-retro" title="Image"></button><!--redo-->
            <button class="insertable icon-music"  data-type="audio" data-icon="icon-music" title="Audio"></button><!--redo-->
            <button class="insertable icon-film" data-type="video" data-icon="icon-film"title="Video"></button><!--redo-->
            <button class="insertable icon-cog" data-type="code" data-icon="icon-cog" title="Code"></button><!--redo-->
            

            <span class="spacer"></span>
            <button class="icon-desktop pressed" title="Desktop"></button><!--redo-->
            <button class="icon-tablet"  title="Tablet"></button><!--redo-->
            <button class="icon-mobile-phone" title="Mobile Phone"></button><!--redo-->
            <span class="spacer"></span>
            <span id="autosave">

                <span id="autosave-icon" class="icon-ok"></span> 
                <span id="autosave-message">All changes saved</span>
            </span>


        </div>
    </div>
        <div class="editor-wrapper">
            <div id="editable" contenteditable="true" class="editor" spellcheck="true" data-content-id="<%=slug%>">
            </div>
            <div id="focus-cursor" style="display:none">
                <span class="icon-caret-right"></span>

                <div id="media-placeholder"><span class="icon-picture"></span></div>

            </div>
            <div id="inline-tools">
                <span id="inline-up" class="icon-arrow-up"></span>
                <span id="inline-down" class="icon-arrow-down"></span>
                <span id="inline-left" class="icon-arrow-left"></span>
                <span id="inline-right" class="icon-arrow-right"></span>
                <span id="inline-full" class="icon-fullscreen"></span>
            </div>
        </div>

        <!-- Media Templates 
            This should all be pluggable.
        --> 
        <div id="media-templates" style="display:none">
            <div class="image">

            </div>

            <div class="audio">

            </div>

            <div class="video">

            </div>

            <div class="code">


            </div>

        </div>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/keymaster.js"></script>
        <script src="/js/editor.js"></script>
    </body>

</html>