<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Editor</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900' rel='stylesheet' type='text/css'>
        <link href='/css/style.css' rel='stylesheet' type='text/css'>
        <link href='/css/inline.css' rel='stylesheet' type='text/css'>

        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
    
        <h1 class="title">Document</h1>
        
        <div id="toolbar-wrapper">
        <div id="toolbar">
            <button class="textstyle icon-bold" data-nodetype="B" title="Bold"></button>
            <button class="textstyle icon-italic" data-nodetype="I" title="Italic"></button>
            <button class="textstyle icon-underline" data-nodetype="U" title="Underline"></button>
            <button class="textstyle icon-strikethrough" data-nodetype="STRIKE" title="Strikethrough"></button>
            <button class="textstyle icon-link" data-nodetype="A" title="Link"></button>

            <button class="icon-reply" title="Undo"></button><!--undo-->
            <button class="icon-share-alt" title="Redo"></button><!--redo-->
            <button class="icon-th" title="Characters"></button><!--redo-->
            <span class="spacer"></span>
            <span class="expandable">
                <button class="icon-camera-retro"></button>
                <span class="expanded">
                    <button class="insertable icon-align-left" data-type=".image.left" title="Left"></button>
                    <button class="insertable icon-align-center" data-type=".image.centered" title="Centered"></button>
                    <button class="insertable icon-align-right" data-type=".image.right" title="Right"></button>
                    <button class="insertable icon-fullscreen" data-type=".image.full" title="Full"></button>
                </span>
            </span>
            
            
            <span class="expandable" title="audio">
                <button class="icon-music"></button>
                <span class="expanded">
                    <button class="insertable icon-align-left" data-type=".audio.left" title="Left"></button>
                    <button class="insertable icon-align-right" data-type=".audio.right" title="Right"></button>
                </span>
            </span>

            <span class="expandable" title="Video">
                <button class="icon-film"></button>

                <span class="expanded">
                    <button class="insertable icon-align-left" data-type=".video.left" title="Left"></button>
                    <button class="insertable icon-align-right" data-type=".video.right" title="Right"></button>
                    <button class="insertable icon-align-center" data-type=".video.centered" title="Centered"></button>
                </span>
            </span>
            <!--<button class="insertable icon-cog" data-type="code" data-icon="icon-cog" title="Code"></button>-->
        
            </span>

            <span class="spacer"></span>
            <button class="icon-desktop pressed" title="Desktop"></button>
            <button class="icon-tablet"  title="Tablet"></button>
            <button class="icon-mobile-phone" title="Mobile Phone"></button>
            <span class="spacer"></span>
            <span id="autosave">

                <span id="autosave-icon" class="icon-ok"></span> 
                <span id="autosave-message">All changes saved</span>
            </span>


        </div>
    </div>
        <div class="editor-wrapper">
            <div id="editable" contenteditable="true" class="editor" spellcheck="true" data-content-id="<%=slug%>">
            </div>
            <div id="focus-cursor" class="icon-caret-right" style="display:none"></div>


            <div id="url-input" style="display:none">
                <textarea name="url"></textarea>
            </div>


        </div>
        <div id="inline-tools">
            <button id="inline-up" class="icon-arrow-up"></button>
            <button id="inline-down" class="icon-arrow-down"></button>
            <button id="inline-edit" class="icon-pencil"></button>
            <button id="inline-remove" class="icon-trash"></button>

        </div>
        <!-- Media Templates 
            This should all be pluggable.
        --> 
        <div id="media-templates" style="display:none">
            <div class="inline image full template">
                <img src="http://placehold.it/870x300/C0392B/F39C12">
                <span class="caption">A delightful image</span>
            </div>
            <div class="inline image left template">
                <img src="http://placehold.it/400x300/C0392B/F39C12">
                <span class="caption">A delightful image</span>
            </div>
            <div class="inline image right template">
                <img src="http://placehold.it/400x300/C0392B/F39C12">
                <span class="caption">A delightful image</span>
            </div>
            <div class="inline image centered template">
                <img src="http://placehold.it/670x300/C0392B/F39C12">
                <span class="caption">A delightful image</span>
            </div>

            <div class="inline audio right template" >
                <img src="http://placehold.it/180x180/0E7AC3/ffffff">
                <span class="caption">A pleasant song</span>
            </div>
            <div class="inline audio left template" >
                <img src="http://placehold.it/180x180/0E7AC3/ffffff">
                <span class="caption">A pleasant song</span>
            </div>

            <div class="inline left video template">
                <img src="http://placehold.it/240x135/27AE60/ffffff">
                <span class="caption">An enjoyable video</span>
            </div>
            <div class="inline right video template">
                <img src="http://placehold.it/240x135/27AE60/ffffff">
                <span class="caption">An enjoyable video</span>
            </div>
            <div class="inline centered video template">
                <img src="http://placehold.it/640x360/27AE60/ffffff">
                <span class="caption">An enjoyable video</span>
            </div>

            <div class="inline left code template">


            </div>

        </div>



        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/keymaster.js"></script>
        <script src="/js/editor.js"></script>
    </body>

</html>