<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Editor</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900' rel='stylesheet' type='text/css'>
        <link href='/css/style.css' rel='stylesheet' type='text/css'>
        <link href='/css/inline.css' rel='stylesheet' type='text/css'>

        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
    
        <div id="editor"></div>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/underscore-min.js"></script>

        <script src="/js/keymaster.js"></script>
        
        <!--include the editor base-->
        <script src="/js/base.js"></script>
        <!-- indclude all modules -->
        <script src="/js/modules/richText.js"></script>

        <script src="/js/modules/textReplacement.js"></script>
        <script src="/js/modules/toolbar.js"></script>
        <script type="text/javascript">
            var editor = new Editor({
                /* global options */
                element: document.getElementById("editor"),

                /* module options */
                richText: {

                },


            })

        </script>
    </body>

</html>