<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Image Browser</title>
        <link href='/css/image-browser.css' rel='stylesheet' type='text/css'>
        <link href='/fontawesome/css/font-awesome.css' rel='stylesheet' type='text/css'>

    </head>

    <body>

        <div id="toolbar">
            <span>This Image</span>
            <span>All Images</span>
        </div>

        <div id="drop_area"></div>

        <div id="all-images"></div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </body>
</html>