* {
    margin:0px;
    padding:0px;
}
body {
	background-color: #EBEBEB;
    font-family: Helvetica, Arial, sans-serif;
}

h1.title {
    width: 870px; 
    margin: 0px auto 0px;
    padding: 20px 0 10px;
    font-size: 24px;
}

#editor-wrapper {
    
    margin: 0px auto;
    position:relative;
    background-color: #ffffff;
}

#editor-wrapper.desktop {
    width: 870px;
}


#editor-wrapper.tablet {
    width: 768px;
}

#editor-wrapper.mobile {
    width: 322px;
}
#editor-wrapper.mobile .editor {
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
}

.editor {
	font-family: 'Source Code Pro', Courier, sans-serif;
    font-size:18px;
	background-color: transparent;
    min-height: 400px;
    padding:100px;
    border: 1px #DADADA solid;
    position:relative;
    z-index:20;
}
input,textarea,
.editor:focus {
    outline: none;
}

.editor p,
.editor div { 
    background-color: rgba(252,242,120, .0);
    margin-bottom:27px;
    min-height:23px;
}
.editor p.focus,
.editor div.focus { 
    background-color: rgba(252,242,120, .0)

}


#toolbar-wrapper {
        margin: 0px auto 10px;
        border-top: 1px #E5E5E5 solid;
        border-bottom: 1px #E5E5E5 solid;
        width:100%;
        background-color: #f5f5f5;
}

#toolbar {
    width: 870px;
    margin: 5px auto;
    font-size: 11px;
    line-height:14px;
    color:#4A4A4A;
}

.fixed #toolbar-wrapper  {
    position:fixed;
    top:0px;
    z-index:100;
}

.fixed .title {
    margin-bottom: 25px; /* height of toolbar */
}

#inline-tools button,
#toolbar button {
    border:1px transparent solid;
    color: #4A4A4A;
    background-clip: padding-box;
    background-color:transparent;
    border-radius:2px;
    text-align:center;
    display:inline-block;
    line-height:25px;
    font-size:14px;
    width:25px;
    height:25px;
}

#inline-tools button {
    line-height:35px;
    font-size:20px;
    width:35px;
    height:35px;
}

#toolbar .expandable {
    color: #3B5998;
}
#autosave-icon {
    font-size:14px;
}
#autosave-icon.icon-ok {
    color: #138F15;
} 

#autosave-icon.icon-refresh {

}

button:hover,
button.pressed {
    background-color: rgba(0,0,0,.2);
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
    border:1px #e0e0e0 solid;
}
#toolbar .spacer {
    padding-left: 20px;
    border-left: 1px #eee solid;
    margin-left: 20px;
}


.auto-replacement {
    border-bottom:1px #47B2FD dotted;
}
.auto-replacement:hover {
    border-bottom:1px #47B2FD solid;   
}


/* insertable media stuff */
#focus-cursor {
    position:absolute;
    left:-15px;
    top:0px;
    color: #666;
}


/* images in articles */

.inline.template {
    opacity:.6;
}


#inline-tools {
    display:none;
    position:absolute;
    z-index: 80;
    background-color: #F5F5F5;
    border-bottom: 1px #E5E5E5 solid;
}

.inline.editing {
    opacity:.6;
}

#url-input textarea {
    font-size: 12px;
    padding: 4px;
    font-family: Source Code Pro, Courier, sans-serif;
    word-wrap: break-word;
    box-sizing:border-box;
    width:100%;
}
#url-input {
    position:absolute;
    z-index:90;
    width: 500px;
    border:1px #DADADA solid;
    background-color: #EBEBEB;
    padding: 8px;
}

.url-editing {
    background-color: #dADADA;
}

.expandable .expanded {
    display:none;
}
.expandable:hover .expanded {
    display:inline;
}
.expandable {

    transition-property: width;
    transition-timing-function: ease-in;
    transition-duration:.2s;
    transition-delay:.5s;
}
.expandable:hover {
    transition-delay:0s;
}
