* {
    margin:0px;
    padding:0px;
}
body {
	background-color: #EBEBEB;
    font-family: Helvetica, Arial, sans-serif;
}

h1.title {
    width: 870px; 
    margin: 0px auto 0px;
    padding: 20px 0 10px;
    font-size: 24px;
}

.editor-wrapper {
    width: 870px;
    margin: 0px auto;
    position:relative;
    background-color: #ffffff;
}

.editor {
	font-family: 'Source Code Pro', Courier, sans-serif;
    font-size:18px;

	background-color: transparent;
	width: 670px;
    height:auto;
    min-height: 400px;
    padding:100px;
    border: 1px #DADADA solid;
    position:relative;
    z-index:20;
}

.editor:focus {
    outline: none;
}

.editor p,
.editor div { 
    background-color: rgba(252,242,120, .0);
    margin-bottom:27px;
    min-height:23px;
}
.editor p.focus,
.editor div.focus { 
    background-color: rgba(252,242,120, .0)

}


#toolbar-wrapper {
        margin: 0px auto 10px;
        border-top: 1px #E5E5E5 solid;
        border-bottom: 1px #E5E5E5 solid;
        width:100%;
        background-color: #f5f5f5;
}

#toolbar {
    width: 870px;
    margin: 5px auto;
    font-size: 11px;
    line-height:14px;
    color:#4A4A4A;
}

.fixed #toolbar-wrapper  {
    position:fixed;
    top:0px;
    z-index:100;
}

.fixed .title {
    margin-bottom: 25px; /* height of toolbar */
}

#toolbar button {
    border:1px transparent solid;
    color: #4A4A4A;
    background-clip: padding-box;
    background-color:transparent;
    width:25px;
    height:25px;
    border-radius:2px;
    text-align:center;
    display:inline-block;
    line-height:25px;
    font-size:14px

}
#toolbar .insertable {
    color: #3B5998;
}
#autosave-icon {
    font-size:14px;
}
#autosave-icon.icon-ok {
    color: #138F15;
} 

#autosave-icon.icon-refresh {

}

#toolbar button:hover,
#toolbar button.pressed {
    background-color: rgba(0,0,0,.2);
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
    border:1px #e0e0e0 solid;
    }
#toolbar .spacer {
    padding-left: 20px;
    border-left: 1px #eee solid;
    margin-left: 20px;
}


.auto-replacement {
    border-bottom:1px #47B2FD dotted;
}
.auto-replacement:hover {
    border-bottom:1px #47B2FD solid;   
}


/* insertable media stuff */
#focus-cursor>span {
    transition-property: color;
    transition-duration: .15s;
    color: #DADADA;
    line-height:19px;
}
#focus-cursor.active>span {
    color:#DADADA;
}

#focus-cursor {
    position:absolute;
    left:85px;
    top:0px;
}

.focus {
    transition-property: margin-top;
    transition-duration: .15s;
    transition-delay:.3s;
    transition-timing-function: ease-in-out;
}

.focus.media-placeholder {
    margin-top: 200px;
    transition-delay:.15s;
}

#media-placeholder {
    opacity: 0;

    border: 4px #DADADA dashed;
    margin-left: 15px;
    margin-top: -12px;
    width: 670px;
    box-sizing: border-box;
    height: 160px;
    text-align: center;

    transition-property: opacity;
    transition-delay:.;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;  
}
#focus-cursor.active  #media-placeholder {
    
    opacity: 1;
    transition-delay: .15s;
}


#media-placeholder>span {
    font-size: 64px;
    text-align: center;
    line-height: 145px;
    color: #DADADA;
}



/* images in articles */

.inline {
    margin-bottom: 30px;
    background-color:white;
    cursor:pointer;
}
.inline:hover {
    opacity:.8;
}

.inline .caption {
    color:#ccc;
    display:block;
    padding: 0 15px;
    font-size:14px;
}

.inline.full .caption {
    margin-left:100px;
    padding:0px;

}

.inline.left {
    float: left;
    margin-right: 30px;
    margin-left: -100px;
}
.inline.right {
    margin-right:-100px;
    float: right;
    margin-left: 30px;
}

.image.left {
    width: 400px;
}

.image.right {
    width: 400px;
}
.image.full  {
    margin-left: -100px;
}


.video {
    width: 240px;
}

#inline-tools {
    display:none;
    position:absolute;
    z-index: 80;
    width: 100px;
    height: 100px;
}
