* {
    margin:0px;
    padding:0px;
        
}

a {
    cursor:pointer;
}

input,textarea, button,
.editor:focus {
    outline: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #eee;
}

#editor {
    padding: 20px 0;
    min-height: 100%;
}

.editor-wrapper {   
    margin: 0px auto;
    position:relative;
    background-color: #F1F1F1;
}


.editorPlaceholder,
.editor {
    font-size:18px;
	background-color: transparent;
    position:relative;
    z-index:20;
    width: 820px;
    padding: 30px 100px;
}
.editorPlaceholder {
    z-index: 10;
    position:absolute;
}

.editor blockquote,
.editor ul,
.editor ol,
.editor p,
.editor div { 
    padding-top:27px;
    min-height:23px;
}



.editor blockquote {
    clear:both;
    padding: 0 30px;
}


.editor ul,
.editor ol {
    clear:both;
    padding-left:  45px;
    padding-right:  45px;
    
}

.editor li {
    margin-bottom: 4px;
}


.editor,
.light .editor {
    border:0px !important;
}

#content-wrapper {
    margin-top: 100px;
    
    margin: 20px auto 0;
}

#content-wrapper.container {
    width: 820px;
}

#content-title .editor,
#content-title .editorPlaceholder {
    padding-bottom: 10px;
}
#content-subhead .editor,
#content-subhead .editorPlaceholder {
    padding: 10px 100px;
}

#content-body .editor {
    min-height: 600px;
    padding-bottom: 800px;
}


.label {
    opacity: .7;
}



.visualize .editor ul,
.visualize .editor ol {
    background-color: rgba(166,226,45,.1);
}

.visualize .editor div {
    background-color: rgba(249,39,114,.5); /* don't want these to appear */
}
.visualize .editor p
 { 
    background-color: rgba(102,217,239,.1);
}
.visualize .editor blockquote {
    background-color: rgba(174,129,255,.1);
}

blockquote {
    border-left: 5px solid #ddd;
}



