
/* embed panel */

#embed-panel {
    position:fixed;
    bottom: -210px;
    background-color: #393937;
    height: 200px;
    transition: bottom .2s ease-in-out;
    width: 100%;
    z-index: 50;
    color: #F8F8F2;
}

#embed-panel.open {
    bottom:0px;
}


#embed-panel-close {
    font-size: 24px;
    color: #ddd;
    cursor:pointer;
    position:absolute;
    right: 10px;
    top: 10px;
}

#embed-panel-close:hover {
    color: #FFF;
}
