
.placeholder {
    opacity: .5;
}

.inline {
    margin-bottom: 30px;
    cursor:pointer;
    float:left;

}

.editor div.inline {
    margin-top: 27px;
    padding-top: 0px;

}

.inline .caption {
    color:#ccc;
    display:block;
    padding: 0 15px;
    font-size:14px;
}

.inline.full .caption {
    margin-left:100px;
    padding:0px;

}

.inline.left {
    margin-right: 30px;
    margin-left: -100px;
    clear:left;
}


.inline.right {
    margin-right:-100px;
    float: right;
    margin-left: 30px;
    clear:right;
}

.inline.right-small {
    margin-right: 0px;
    float: right;
    margin-left: 30px;
}




/* 1x1 */
div[data-picture].one-by-one>div {
    padding-bottom: 100%;
}

/* 4x3  DEFAULT inline, for now */
div[data-picture].inline>div {
    padding-bottom: 75%;
}

/* 16x9 */

div[data-picture].center>div {
    padding-bottom: 56.25%;
}

/* 3x4 */
div[data-picture].three-by-four>div {
    padding-bottom: 133.33%;
}

/* 3x1 */
div[data-picture].full>div {
    padding-bottom: 33.333%;
}


.image.right-small {
    width: 150px;
}

.image.left {
    width: 300px;

}

.image.right {
    width: 300px;

}

.center {
    width: 100%;    
}

.image.full  {
    margin-left: -100px;
    margin-right: -100px;
    clear:both;
    float:none;
}

.image.full {
    width: 740px
}

.video.centered  {
    margin-left: 15px;
}

.video {
    width: 240px;
}

#editor-wrapper.mobile .inline {
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
    box-sizing: border-box;
    float: none;
}

#editor-wrapper.mobile .inline img {
    width: 100%;
}

#editor-wrapper.mobile .inline .caption {
    margin-left: 20px;
}


/* embed css */


div[data-type="embed"].center {
    width: 100%;
}
div[data-type="embed"].center>div {
    width: 100%;
    padding-bottom: 56.25%;
    position:relative;
}

div[data-type="embed"].center>div embed,
div[data-type="embed"].center>div>*{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
}