
.inline {
    margin-bottom: 30px;
    background-color:white;
    cursor:pointer;
    float:left;
}

.inline .caption {
    color:#ccc;
    display:block;
    padding: 0 15px;
    font-size:14px;
}

.inline.full .caption {
    margin-left:100px;
    padding:0px;

}

.inline.left {
    margin-right: 30px;
    margin-left: -100px;
}


.inline.right {
    margin-right:-100px;
    float: right;
    margin-left: 30px;
}


.image.left {
    width: 400px;
}

.image.right {
    width: 400px;
}
.image.full  {
    margin-left: -100px;
    margin-right: -100px;
    float:none;
}
.image.full img{
    width:100%;

}

.video.centered  {
    margin-left: 15px;
}

.video {
    width: 240px;
}

#editor-wrapper.mobile .inline {
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
    box-sizing: border-box;
    float: none;
}

#editor-wrapper.mobile .inline img {
    width: 100%;
}

#editor-wrapper.mobile .inline .caption {
    margin-left: 20px;
}

