* {
    margin:0px;
    padding:0px;
}

input,textarea,
.editor:focus {
    outline: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#editor {
    padding: 20px 0;
    min-height: 100%;
}

h1.title {
    width: 870px; 
    margin: 0px auto 0px;
    padding: 20px 0 10px;
    font-size: 24px;
}

.editor-wrapper {   
    margin: 0px auto;
    position:relative;
    background-color: #F1F1F1;
}

.editor-wrapper/*.desktop*/ {
    width: 870px;
}

.editor {
    font-size:18px;
	background-color: transparent;
    min-height: 800px;
    padding:100px;
    position:relative;
    z-index:20;
    width:668px;
}


.visualize .editor ul,
.visualize .editor ol {
    background-color: rgba(166,226,45,.1);
}

.visualize .editor div {
    background-color: rgba(249,39,114,.5); /* don't want these to appear */
}
.visualize .editor p
 { 
    background-color: rgba(102,217,239,.1);
}
.visualize .editor blockquote {
    background-color: rgba(174,129,255,.1);
}




.editor ul,
.editor ol,
.editor p,
.editor div { 
    margin-bottom:27px;
    min-height:23px;
}


.editor blockquote {
    padding: 0 30px;
}

.editor ul,
.editor ol {
    padding: 0 45px;
    line-height:24px;
    font-size:16px;
}



.auto-replacement {
    border-bottom:1px #47B2FD dotted;
}
.auto-replacement:hover {
    border-bottom:1px #47B2FD solid;   
}





