* {
    margin:0px;
    padding:0px;
}

input,textarea,
.editor:focus {
    outline: none;
}

body {
	background-color: #EBEBEB;
    font-family: Helvetica, Arial, sans-serif;
}

h1.title {
    width: 870px; 
    margin: 0px auto 0px;
    padding: 20px 0 10px;
    font-size: 24px;
}

.editor-wrapper {   
    margin: 20px auto;
    position:relative;
    background-color: #ffffff;
}

.editor-wrapper/*.desktop*/ {
    width: 870px;
}

.editor {
	font-family: 'Source Code Pro', Courier, sans-serif;
    font-size:18px;
	background-color: transparent;
    min-height: 400px;
    padding:100px;
    border: 1px #DADADA solid;
    position:relative;
    z-index:20;
    width:668px;
}


.editor.visualize ul,
.editor.visualize ol,
.editor.visualize p,
.editor.visualize div { 
    background-color: rgba(252,242,120, .2);
    margin-bottom:27px;
    min-height:23px;
}

.editor.visualize blockquote {
    padding: 0 30px;
    background-color: rgba(200,200,200, .1);

}

.auto-replacement {
    border-bottom:1px #47B2FD dotted;
}
.auto-replacement:hover {
    border-bottom:1px #47B2FD solid;   
}


/* Menus + Buttons */

.toolbar button {
    border:1px transparent solid;
    color: #4A4A4A;
    background-clip: padding-box;
    background-color:transparent;
    border-radius:2px;
    text-align:center;
    display:inline-block;
    line-height:25px;
    font-size:14px;
    width:25px;
    height:25px;
}

button:hover,
button.pressed {
    background-color: rgba(0,0,0,.2);
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
    border:1px #e0e0e0 solid;
}


.toolbar {
    position: absolute;
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
    opacity: .6;
    /*transition: opacity .25s ease-in-out;*/
}


.toolbar:hover .primary {
    display:none;
}
.document-tools,
.paragraph-tools,
.selection-tools {
    padding: 4px 4px;
    font-size: 12px;
    background-color: #EEEEEE;
    border: 1px #DADADA solid;
}

.paragraph-tools,
.selection-tools {
    display:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float:right;
    position:absolute;
    z-index:100;
    top:0px;
    left:-5px;
}


.document-tools {
    top: 5px;
    right: -5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.toolbar .primary {
    background-color: #EEEEEE;
    font-size: 14px;
    color: #4A4A4A;
    float:right;
    position:relative;
    z-index:100;

}

.document-tools .expanded {
    background-color: #eee;
    z-index: 99;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    padding: 10px 10px;
}

.toolbar .expanded {
    display: none;
    position: relative;
    top: 0px;
}


.toolbar:hover {
    cursor:pointer;
    opacity: 1;
}

.toolbar:hover .expanded {
    display:block;
}

.document-tools:hover .expanded a {
    
}

.document-tools .separator { 
    border-bottom: 1px #DADADA solid;
    
}
.document-tools .heading { 
    font-size: 10px;
    color: #DADADA;
}
