/* default */
/* .light */

.light {
}

.editor {
    border: 1px #DADADA solid;
    color: #101010;
    background-color: #e0e0e0;

}

.editor a {
    color: #1155CC;
}


/* fonts */
.editorPlaceholder,
.editor {
    font-family: Georgia, sans-serif;
    line-height: 32px;
    font-size: 18px;
}

blockquote p {
    line-height: 32px;
}


.title .editorPlaceholder,
.title .editor {
    font-family: Georgia, sans-serif;
    font-size:28px;
    line-height: 42px;
}

.subhead .editorPlaceholder,
.subhead .editor {
    font-family: Georgia, sans-serif;
    font-size:22px;
    line-height: 32px;
    color: #444;
}

.editorPlaceholder {
    color: #B3B3B3 !important;
}
