/* Menus + Buttons */

.inline-active .toolbar {
    /*display:none; */
}

.inline-active .inline-tools.toolbar{
    display:block;
}

.toolbar-contents {
    position: absolute;
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
    padding: 4px 4px;
    font-size: 12px;
    background-color: #EEEEEE;
    border: 1px #DADADA solid;
    border-radius: 4px;
    width: auto;
    white-space:nowrap;
}

.toolbar button {
    border:1px transparent solid;
    color: #4A4A4A;
    background-clip: padding-box;
    background-color:transparent;
    border-radius:2px;
    text-align:center;
    display:inline-block;
    line-height:25px;
    font-size:14px;
    width:25px;
    height:25px;
    cursor:pointer;
    border-radius: 3px;
}

.toolbar button.text {
    font-size: 11px;
    width: auto;
    padding: 0 4px;
}
.toolbar button {
    width:auto;
    display:block;
    font-size:14px;
    width: 100%;
    text-align:left;
    padding:4px 8px;
    height:auto;
}


.heading-icon { 
    font-family:Georgia;
    text-align:center;
    width: 20px;
    font-size: 15px;

}

.heading-icon  sub {
    bottom:0px;
}
    
.toolbar button.hiddenbydefault {
    display:none;
}
.toolbar:hover button.hiddenbydefault {
    display:block;
}


.toolbar button.active {
    display:block;
    background-color: #ddd;
}

.toolbar button:hover {
    background-color: #ccc;

} 
.toolbar button:hover.active {
    display:block;
    background-color: #333;
    color:#f1f1f1;
}


.toolbar .btn-label {
    display:none;
}

.toolbar:hover .btn-label {
    display:inline;
    margin-left: 10px;
    font-size: 12px;
    line-height: 16px;
}



.document-tools>.toolbar-contents {
    top: 100px;
    position:fixed;
    left:50%;
    text-align:center;
    margin-left:-480px;
    display: block;
    opacity: 1;
}

.embed-tools {
    left:0px;
    position:absolute;
    display:none;
}


.embed-tools:hover .embed-heading {
    border-bottom:1px #DADADA solid; ;
}

.embed-tools .embed-heading .btn-label {
    font-size:12px;
    display:inline-block;
}
.embed-tools .toolbar-contents {
    border-color:transparent;
    background-color:transparent;
}
.embed-tools:hover .toolbar-contents {
    background-color: #EEEEEE;
    border: 1px #DADADA solid;
}

.embed-tools .embed-bug {
    padding:10px;
    width: 20px;
    text-align:center;
}
.embed-tools:hover {
    display:block;
}
.embed-tools.active {
    opacity: 1;
    display:block;
}

.toolbar button [class^="icon-"], .toolbar button [class*=" icon-"] {
    width: 15px;
    display: inline-block;
    text-align:center;
}

.toolbar-contents .primary {
    font-size: 14px;
    color: #4A4A4A;
    float:right;
    position:relative;
    z-index:100;
    background-color: #EEEEEE;
}


/* Link tools */
.link-tools {
    padding:4px;
    position:absolute;
    z-index: 100;
    display:none;
    background-color: #eee;
    border:1px #ccc solid;
    border-radius: 4px;
    white-space:nowrap;
}
.link-tools .link-view-dialog{
    width: auto;
}
.link-tools .link-edit-dialog{
    width: 410px;    
}

.link-tools .link-url {
    margin: 0 15px;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.link-tools button {
    display:inline-block;
    width:auto;
}

.link-tools input {
    padding: 8px;
    margin-top: 4px;
    width: 320px;
    border-radius: 4px;
    background-color: #f1f1f1;
    border:1px #ddd solid;

}

.link-search-results ul {
    margin-bottom: 0px
}


span.highlight {
    background-color: #EC7000;
}

.editor span.searchResult {
    background-color: #FFBB03;
}
.editor [contenteditable=false] span.searchResult {
    background-color:transparent;
}



