.link-tools {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:rgba(0,0,0,.2);
}


/* TODO: GRAB STYLES FROM AVCLUB */
/* Link tools */
.link-tools {
    padding:4px;
    position:absolute;
    z-index: 100;
    display:none;
    background-color: #eee;
    border:1px #ccc solid;
    border-radius: 4px;
    white-space:nowrap;
}
.link-tools .link-view-dialog{
    width: auto;
}
.link-tools .link-edit-dialog{
    width: 410px;    
}

.link-tools .link-url {
    margin: 0 15px;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.link-tools button {
    display:inline-block;
    width:auto;
}

.link-tools input {
    padding: 8px;
    margin-top: 4px;
    width: 320px;
    border-radius: 4px;
    background-color: #f1f1f1;
    border:1px #ddd solid;

}

.link-search-results ul {
    margin-bottom: 0px
}