/* Menus + Buttons */

.document-tools, embed-tools {
  font-family: Helvetica, Arial, sans-serif;
}

.inline-active {
  .inline-tools {
    &.toolbar {
      display:block;
    }
  }
}

.toolbar {
  button {
    background-clip: padding-box;
    background-color: transparent;
    border-radius: 2px;
    border: 1px transparent solid;
    color: #4A4A4A;
    cursor: pointer;
    display:block;
    font-size: 14px;
    height: auto;
    line-height: 25px;
    padding: 4px 8px;
    text-align: left;
    width: auto;
    [class^="icon-"],
    [class*=" icon-"] {
      display: inline-block;
      text-align:center;
      width: 15px;
    }
    &.text {
      font-size: 11px;
      padding: 0 4px;
      width: auto;
    }
    &.active {
      background-color: #ddd;
      display: block;     
    }    
  }
  .hiddenbydefault {
    display: none;
  }
  .btn-label {
    display: none;
  }
  .link-tools {
    .toggle-filter {
      background: rgb(200, 200, 200);
      display: inline-block;
      margin: 9px 5px;
      &.active {
        background: rgb(150, 150, 150);
      } 
    }
  }
  &:hover {
    background-color: #ccc;
    .hiddenbydefault {
      display: block;
    }
    .btn-label {
      display:inline;
      font-size: 12px;
      line-height: 16px;
      margin-left: 10px;
    }
    &.active {
      background-color: #333;
      color: #f1f1f1;
      display: block;     
    }
  }
}

.toolbar-contents {
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-color: #EEEEEE;
  border-radius: 4px;
  border: 1px #DADADA solid;
  font-size: 12px;
  padding: 4px 4px;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.heading-icon { 
  font-family: Georgia;
  font-size: 15px;
  text-align: center;
  width: 20px;
  sub {
    bottom: 0px;    
  }
}

.document-tools {
  z-index: 1;
  .toolbar-contents {
    display: block;
    left: 50%;
    margin-left: -480px;
    opacity: 1;
    position: fixed;
    text-align: center;
    top: 100px;
    .primary {
      background-color: #EEEEEE;
      color: #4A4A4A;
      float: right;
      font-size: 14px;
      position: relative;
      z-index: 100;
    }  
  }
}

/* Inline Tools */

.inline-tools {
  display: none;
  position: absolute;
  z-index: 100;
  button {
    display: inline-block;
    width: auto;    
  }
  span {
    &.inline-attribute {
      font-size: 11px;
      text-transform:uppercase;     
    }
  }
  .edit {
    background-color: #333;
    border-radius: 4px;
    bottom: 10px;
    color: white;
    left: 10px;
    position: absolute;
    button:hover {
      background-color: #444;
    }     
  }
  .remove {
    background-color: #930900;
    border-radius: 4px;
    bottom: 10px;
    position: absolute;
    right: 10px;
    button:hover {
      background-color: #C70A00;
    }    
  }
  .edit,
  .remove {
    button {
      color: white;
    }
  }
  .toolbar-contents {
    left: 50%;
    margin-left: -96px;
    margin-top: 20px;   
  }
  
  /* Customize toolbar for various object types */

  [data-type="hr"] {
    .edit, .size, .crop {
      display: none;
    }
  }

  /* size and crop are handled inside of the embed modal, for simplictiy */

  [data-type="embed"] {
    .size, .crop {
      display: none;
    }
  }
}

span.highlight {
  background-color: #EC7000;
}

.find-replace-dialog {
  background-color: #EEEEEE;
  border-radius: 4px;
  border:1px #DADADA solid;
  box-shadow: 1px 3px 5px 0px rgba(50, 50, 50, 0.3);
  height: 56px; 
  left: 50%;
  margin-left: -410px;
  margin: 0 auto;
  padding: 10px 20px;
  position: fixed;
  top: 0px;
  width: 820px;
  z-index:10000;
  >.btn {
    margin-top:-3px;
  }
  input {
    font-size: 14px; 
    padding: 3px;
    width: 200px;    
  }
}

.editor {
  span {
    &.searchResult {
      background-color: #FFBB03;
    }
  }
  [contenteditable=false] span.searchResult {
    background-color: transparent;
  }
}


